<div class="table-responsive" *ngIf="data">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Nome da categoria</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of data">
                <td>{{ category.category }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="btn btn-default btn-sm mr-2" routerLink="/categories/edit/{{category.id}}"
                        title="Editar Categoria"><i class="fas fa-edit m-0"></i></a>
                        
                    <a class="btn btn-danger btn-sm mr-2" routerLink="/categories/delete/{{category.id}}"
                        title="Excluir Categoria"><i class="fas fa-trash m-0"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>