<app-container-with-row>
    <div class="col-12">
        <h1>Pokémon API</h1>
    </div>
</app-container-with-row>
<app-container-with-row>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Charmander</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Bullbasaur</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Squirtle</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Charmander</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Bullbasaur</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png"
                    alt="Charmander" title="Charmander" class="mx-auto d-block" />
                <h2 class="card-title">Squirtle</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, distinctio.</p>
                <hr/>
                <ul class="list-unstyled text-left card-text px-2">
                    <li>
                        <p class="border-bottom py-2 "><strong>Habilidade(s): </strong> Solar Power</p>
                        <p class="border-bottom pb-2"><strong>Movimento(s): </strong> Mega Punch | Fire Punch</p>
                        <p class="border-bottom pb-2"><strong>Altura: </strong> 1 in</p>
                    </li>
                </ul>
                <a href="#" class="btn info-color-dark text-white">Ver mais</a>
            </div>
        </div>
    </div>

</app-container-with-row>