<div class="mdl-layout	mdl-js-layout	mdl-layout--fixed-drawer	mdl-layout--fixed-header">
    <app-header></app-header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <form [formGroup]="formCadastro" (ngSubmit)="handleCadastrarUsuario()">
                    <app-form-group>
                        <input autofocus required type=" text" formControlName="nome" name="nome" cmailFormField>
                        <span class="mdl-textfield__error">Informar um nome é obrigatório!</span>
                    </app-form-group>
                    <app-form-group>
                        <input required type="email" formControlName="email" name="email" cmailFormField>
                        <span class="mdl-textfield__error">Informar um email é obrigatório!</span>
                    </app-form-group>
                    <app-form-group>
                        <input required type="password" formControlName="senha" name="senha" cmailFormField>
                        <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
                    </app-form-group>
                    <app-form-group>
                        <input type="text" formControlName="avatar" name="avatar" cmailFormField>
                    </app-form-group>
                    <div class="mdl-card__actions">
                        <button class="mdl-button mdl-js-button	mdl-button--raised	mdl-button--accent"
                            [disabled]="formCadastro.invalid">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>