$blue: #3498db;
$black: #333;

.header {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $blue;
    img {
        width: 100%;
    }
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
}
.title-group {
    padding-left: 20px;
    border: 1px solid #000;

    .material-icons {
        color: $blue;
    }

    span {
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: $black;
    }
    i {
        margin-right: 5px;
    }
}
