<div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1 section-title">Home</h4>
        <h4 class="mb-2 mb-sm-0 pt-1 section-title">
            <ng-template *ngIf="breadcrumbInfos">
                <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">{{ breadcrumbInfos.pageName }}</a>
                <span> / </span>
                <span>{{ breadcrumbInfos.pageName }}</span>
            </ng-template>
        </h4>
    </div>
</div>