<main class="pt-5 mx-lg-3">
    <div class="container-fluid mt-5 min-height">
        <app-breadcrumb></app-breadcrumb>
        <div class="row wow fadeIn">
            <div class="col-md-8 mb-4">

                <div class="card mb-4">

                    <div class="card-body">
                        <h4 class="section-title">Categoria por categoria</h4>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action waves-effect">Categoria 1
                                <span class="badge badge-success badge-pill pull-right">22%
                                    <i class="fa fa-arrow-up ml-1"></i>
                                </span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">Categoria 2
                                <span class="badge badge-danger badge-pill pull-right">5%
                                    <i class="fa fa-arrow-down ml-1"></i>
                                </span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">Categoria 3
                                <span class="badge badge-primary badge-pill pull-right">123</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="section-title">Gastos</h4>
                        <p>Cadastre seus gastos de forma rápida.</p>
                        <a class="btn btn-info" data-toggle="modal" data-target="#sideModalTRSuccessDemo"
                            data-backdrop="false">Cadastro rápido</a>
                    </div>
                    <div class="modal fade right" id="sideModalTRSuccessDemo" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-side modal-top-right modal-notify modal-info"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="heading">Novo gasto</p>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&#xD7;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-lg-12 text-left">
                                                <label for="">Valor da compra</label>
                                                <input autofocus type="nymber" id="defaultContactFormName"
                                                    class="form-control mb-4" placeholder="0,00">
                                            </div>
                                            <div class="col-12 col-lg-6 text-left">
                                                <label for="">Descrição do gasto</label>
                                                <input type="text" id="defaultContactFormName"
                                                    class="form-control mb-4"
                                                    placeholder="Internet, Calça, Perfume...">
                                            </div>
                                            <div class="col-12 col-lg-6 text-left">
                                                <label for="">Data da compra</label>
                                                <input type="date" id="defaultContactFormName"
                                                    class="form-control mb-4" placeholder="Data da compra">
                                            </div>
                                            <div class="col-12 col-lg-6 text-left">
                                                <label for="">Categoria</label>
                                                <select class="browser-default custom-select mb-4">
                                                    <option value="1" selected>Categoria 1</option>
                                                    <option value="2">Categoria 2</option>
                                                    <option value="3">Categoria 3</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-lg-6 text-left">
                                                <label for="">Tag</label>
                                                <input type="text" id="defaultContactFormName"
                                                    class="form-control mb-4"
                                                    placeholder="Mercado, Ifood, Higiene...">
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-info btn-block" type="submit"><i
                                                        class="fa fa-check"></i>
                                                    Salvar</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-danger btn-block" type="button"
                                                    data-dismiss="modal" aria-label="Close"><i
                                                        class="fas fa-times"></i>
                                                    Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>