<header>

    <nav class="navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/:userName">Fotos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="photo/add">Sobre</a>
                </li>
            </ul>
            <div class="text-white">
                <i class="fa fa-user-circle"></i>
                <a class="d-inline-block ml-1">Olá, Nome</a>
            </div>
        </div>
    </nav>

</header>
<div class="container py-4">
    <router-outlet></router-outlet>
</div>