/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtitle {
    font-size: 1.1rem;
}

.mat-snack-bar-container {
    &.alert-success,
    &.alert-danger {
        .mat-focus-indicator {
            color: #fff;
        }
    }
}

.alert-success {
    color: #fff;
    background-color: #28a745;
}
.alert-danger {
    color: #fff;
    background-color: #e74c3c;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    > div {
        margin-top: 20px;
    }
    button {
        margin-right: 15px;
    }
}
