<mat-card>
    <mat-card-title class="title">Excluir produto</mat-card-title>
    <mat-card-subtitle class="subtitle">Exclua produtos existentes no sistema</mat-card-subtitle>

    <form class="form">
        <mat-form-field>
            <input 
                type="text" 
                matInput 
                placeholder="Nome do produto"
                name="name"
                [value]="product.name"
                required
                disabled />
            </mat-form-field>
            <mat-form-field>
                <input
                    type="number"
                    matInput
                    placeholder="Preço (R$)"
                    min="0"
                    name="price"
                    [value]="product.price"
                    required
                    disabled />
        </mat-form-field>
        <div>
            <button
                mat-raised-button
                color="warn"
                title="Excluir {{product.name}}"
                (click)="deleteProduct()">Excluir
            </button>
            <button
                mat-raised-button
                color="secondary"
                (click)="cancel()">Voltar
            </button>
        </div>
    </form>
</mat-card>