<main class="pt-5 mx-lg-3">
    <div class="container-fluid mt-5">
        <app-breadcrumb></app-breadcrumb>

        <div class="row wow fadeIn">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="formCategories" (ngSubmit)="submitFormCategories()">
                            <div class="row">
                                <div class="col-12 mt-3 col-lg-6 text-left">
                                    <label for="category">Nome da categoria</label>
                                    <input type="text" id="category" class="form-control mb-1"
                                        placeholder="Alimentação, Cuidados pessoais, Outros..." required
                                        formControlName="category" name="category">
                                    <span class="text-danger d-block"
                                        *ngIf="formCategories.get('category').touched && formCategories.get('category').getError('required')">Campo
                                        obrigatório.</span>
                                    <span class="text-danger d-block"
                                        *ngIf="formCategories.get('category').getError('minlength')">Preencha pelo
                                        menos 2 caractes.</span>
                                </div>
                                <div class="col-12 mt-3 col-lg-6 text-left">
                                    <label for="description">Descrição</label>
                                    <input type="text" id="description" class="form-control mb-1"
                                        placeholder="Gastos com alimentação, com vestuário, com a casa..."
                                        formControlName="description" name="description">
                                </div>
                                <div class="col-12 mt-4">
                                    <button class="btn btn-info" type="submit" [disabled]="formCategories.invalid">
                                        <i class="fa fa-check"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="categoriesAmount === 0" class="alert alert-info my-4">Você ainda não tem nenhuma <strong>Categoria</strong> cadastrada.</div>
                        <div *ngIf="hasCategoriesError" class="alert alert-danger my-4">Ocorreu um erro ao carregar as informações. Se está rodando o projeto local execute o comando <code class="tect-danger">npm run start-backend</code> para executar o backend do projeto.</div>

                        <div class="text-right" *ngIf="categoriesAmount !== 0 && !hasCategoriesError">
                            <p class="alert alert-info d-inline-block">Total de categorias: <span
                                    class="badge badge-primary py-1 px-2 badge-pill">{{ categoriesAmount }}</span></p>
                        </div>
                        <div class="table-responsive" *ngIf="categoriesAmount !== 0 && !hasCategoriesError">
                            <table class="table table-striped mt-3">
                                <thead>
                                    <tr>
                                        <th>Nome da categoria</th>
                                        <th>Descrição</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="categories">
                                    <tr *ngFor="let category of categories">
                                        <td>{{ category.category }}</td>
                                        <td>{{ category.description }}</td>
                                        <td>
                                            <a class="btn btn-default btn-sm" routerLink="/categories/{{category.id}}" title="Editar Categoria"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm" routerLink="/categories/{{category.id}}" title="Excluir Categoria"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>