<main class="pt-5 mx-lg-3">
    <div class="container-fluid mt-5 min-height">
        <app-breadcrumb></app-breadcrumb>
        <div class="row wow fadeIn">

            <div class="col-md-4 mb-4">
                <app-card-amount-items
                    title="Total de Categorias"
                    [value]="categoriesAmount"
                    url="categories"
                    color="info">
                </app-card-amount-items>
            </div>
            <div class="col-md-4 mb-4">
                <app-card-amount-items
                    title="Total de Gastos"
                    [value]="expensesAmount"
                    url="expenses"
                    color="success">
                </app-card-amount-items>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="section-title">Gastos</h4>
                        <p>Cadastre seus gastos de forma rápida.</p>
                        <a class="btn btn-info" data-toggle="modal" data-target="#sideModalTRSuccessDemo"
                            data-backdrop="false">Cadastro rápido</a>
                    </div>
                    <div class="modal fade right" id="sideModalTRSuccessDemo" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-side modal-top-right modal-notify modal-info" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="heading">Novo gasto</p>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&#xD7;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <app-form-expenses [isModal]="true"></app-form-expenses>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>