<main class="pt-5 mx-lg-3">
    <div class="container-fluid mt-5 min-height">
        <app-breadcrumb></app-breadcrumb>

        <div class="row wow fadeIn">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn-link text-primary mt-3 d-inline-block" routerLink="/categories"
                            title="Voltar para Categorias">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                        <form [formGroup]="formCategoriesEdit" (ngSubmit)="submitFormCategoriesEdit()">
                            <div class="row">
                                <div class="col-12 mt-3 col-lg-6 text-left">
                                    <label for="category">Nome da categoria</label>
                                    <input type="text" id="category" class="form-control mb-1"
                                        placeholder="Alimentação, Cuidados pessoais, Outros..." required
                                        formControlName="category" name="category"
                                        [value]="formCategoriesEdit.get('category')">
                                    <span class="text-danger d-block"
                                        *ngIf="formCategoriesEdit.get('category').touched && formCategoriesEdit.get('category').getError('required')">Campo
                                        obrigatório.</span>
                                    <span class="text-danger d-block"
                                        *ngIf="formCategoriesEdit.get('category').getError('minlength')">Preencha pelo
                                        menos 2 caractes.</span>
                                </div>
                                <div class="col-12 mt-3 col-lg-6 text-left">
                                    <label for="description">Descrição</label>
                                    <input type="text" id="description" class="form-control mb-1"
                                        placeholder="Gastos com alimentação, com vestuário, com a casa..."
                                        formControlName="description" name="description"
                                        [value]="formCategoriesEdit.get('description')">
                                </div>
                                <div class="col-12 mt-4">
                                    <button class="btn btn-info" type="submit"
                                        [disabled]="formCategoriesEdit.invalid || (!formCategoriesEdit.get('category').dirty && !formCategoriesEdit.get('description').dirty)">
                                        <i class="fa fa-check"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>

                        <p *ngIf="hasCategorySuccess" class="alert alert-success my-4">Dados atualizados com sucesso!
                        </p>

                        <div *ngIf="hasCategoryError" class="alert alert-danger my-4">Ocorreu um erro ao carregar as
                            informações. Se está rodando o projeto local execute o comando <code
                                class="text-danger">npm run start-backend</code> para executar o backend do projeto.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>