<span class="spinner-container" *ngIf="loading">
  <span class="fa fa-spinner spinner"></span>
</span>

<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="alert-link" [routerLink]="['/welcome']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="alert-link" [routerLink]="['/products']" [routerLinkActiveOptions]="{exact: true}">Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="alert-link" [routerLink]="['/products', '0', 'edit']" title="Adicionar Novo Produto">Add Product</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link">Welcome {{ userName }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        (click)="showMessages()"
        *ngIf="!isMessageDisplayed">Show Messages</a>
      <a class="nav-link"
        (click)="hideMessages()"
        *ngIf="isMessageDisplayed">Hide Messages</a>
    </li>
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link px-3 text-white btn btn-primary" routerLinkActive="alert-link" [routerLink]="['login']">Log In</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link px-3 text-white btn btn-danger"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-10" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>