.my-card {
min-height: 191.48px;
}
.circle-number {
    display: inline-block;
    font-size: 34px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
}
