<main class="pt-5 mx-lg-3">
    <div class="container-fluid mt-5">
        <app-breadcrumb></app-breadcrumb>

        <div class="row wow fadeIn">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- atraves do evento emitido por newExpenseEmitter executamos a funcao updateTableExpenses($event) da classe pai -->
                        <app-form-expenses (newExpenseEmitter)="updateTableExpenses($event)"></app-form-expenses>

                        <div class="text-right">
                            <p class="alert alert-info d-inline-block">Total de compras: <span
                                    class="badge badge-primary py-1 px-2 badge-pill">{{ expensesAmount }}</span></p>
                        </div>

                        <app-table-expenses [data]="expenses"></app-table-expenses>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>