<mat-card class="home">
    <mat-card-title class="title">
        Bem-vindo
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema CRUD
    </mat-card-subtitle>
    <p>Sistema desenvolvido para fixação do aprendizado do <a href="https://angular.io" title="Site oficial do Angular">Angular</a>, utlizando <a href="https://www.npmjs.com/package/json-server" title="NPM JSON Server">JSON Server</a> e os seguintes conceitos:</p>

    <ul class="list">
        <li>Property bind</li>
        <li>Event bind</li>
        <li>Pipes</li>
        <li>Services</li>
        <li>Router</li>
        <li>Angular Forms</li>
        <li>Requisições HTTP</li>
    </ul>

    <p>Para acessar o repositório do projeto <a class="link" [href]="githubUrl" target="_blank"
            title="Repositório do projeto">clique aqui</a>.</p>
</mat-card>