<mat-sidenav-container class="contaienr">
    <mat-sidenav
        class="sidenav"
        mode="side"
        fixedInViewport="true"
        fixedTopGap="64"
        opened
        >
        <mat-nav-list>
            <a
                href=""
                mat-list-item>
                <i class="material-icons">home</i> Início
            </a>
            <a
                href=""
                mat-list-item>
                <i class="material-icons">storefront</i> Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>